/*Este código é um 'mobile first'*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --text-color: #fff;
    --bg-url: url("/assets/mobile-dark.jpg");

    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);

    --highlight-color: rgba(255, 255, 255, 0.2);

    --switch-bg-url: url(/assets/moon-stars.svg);
}

/*Troca entre modo noturno e modo claro*/
.light {
    --text-color: #000;
    --bg-url: url(/assets/mobile-light.jpg);

    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);

    --highlight-color: rgba(0, 0, 0, 0.1);

    --switch-bg-url: url(/assets/sun.svg);
    
}

body * {
    font-family: inter, sans-serif;
    color: var(--text-color);
}
body {
    /*background: color image repeat position/cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-url) no-repeat top center/cover;
}
#container {
    /*margin: top right bottom left ;*/
    width: 22.5rem;
}
/*Área de perfil*/
#profile {
    padding: 1.5rem;
    text-align: center;
}

#profile img {
    /*Em elementos do tipo inline, não é possível usar margin: auto;*/
    width: 7rem;
    background: var(--stroke-color);
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.light #profile img {
    background: var(--surface-color);
}
#profile p {
    font-weight: 500;
    line-height: 1.5rem;
}

/*Troca entre modo noturno e modo claro*/
#switch {
    /*margin: top right bottom left ;*/
    margin: auto auto 2rem auto;
    width: 4rem;
    position: relative;
    
}
#switch button {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 2rem;
    height: 2rem;
    background: #fff var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;

    /*Deixando o elemento no meio*/
    top: 50%;
    transform: translateY(-50%);
}
.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 4rem;
    height: 1.5rem;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 2rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/*Links*/
ul {
    display: flex;
    flex-direction: column;
    /*Dá um espaçamento entre os elementos*/
    gap: 1rem;
}
ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    padding: 1rem 1.5rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500; /*bold*/

    transition: background 0.4s;
}
ul li a:hover {
    border: 1.5px solid var(--text-color);
    background:var(--surface-color-hover);
}

/*social links*/
#social-links {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: background 0.4s;
    border-radius: 50%;
}
#social-links a:hover {
    background: var(--highlight-color);
}

/*Informações adicionais*/
footer {
    font-size: 15px;
    padding: 1.5rem;
    text-align: center;
}
footer a {
    text-decoration: underline;
}